:host {
  display: block;
}

h3 {
  display: inline-block;
}

.numberCircle {
  background   : #fff;
  border       : 1px solid #666;
  border-radius: 50%;
  color        : #666;
  font-size    : 14px;
  height       : 22px;
  text-align   : center;
  width        : 22px;
}
