/*******************************************************************************
 * BASE VARIABLES
 ******************************************************************************/
@import 'variables';

/*******************************************************************************
 * TAILWINDCSS
 ******************************************************************************/
@import './vendors/tailwindcss/generated/tailwind.css';

/*******************************************************************************
 * ANGULAR MATERIAL
 ******************************************************************************/
@import './vendors/material/material.scss';

html,
body,
roc-root {
  height: 100%;
  font-family: 'Source Sans Pro';
  font-weight: normal;
  font-style: normal;
}

roc-root {
  display: block;
}
