<mat-tab-group [selectedIndex]="selectedTabIndex">

  <mat-tab label="Explore Careers">


    <ng-template matTabContent>
      <roc-explore-careers [roiModel]="roiModel"
                           (onExploreCareersSubmitted)="onExploreCareersSubmitted($event)"></roc-explore-careers>
    </ng-template>


  </mat-tab>

  <mat-tab label="Explore Degrees">


    <ng-template matTabContent>
      <roc-explore-degrees [roiModel]="roiModel"
                           (onExploreDegreesSubmitted)="onExploreDegreesSubmitted($event)"></roc-explore-degrees>
    </ng-template>


  </mat-tab>

</mat-tab-group>
