<section class="flex pt-2">

  <div class="flex-1 mr-3 border-r">
    <roc-user-profile-summary-item [title]="careerName"
                                   subTitle="career"></roc-user-profile-summary-item>
  </div>

  <div class="flex-1 mr-3 border-r">
    <roc-user-profile-summary-item [title]="degreeName"
                                   subTitle="degree"></roc-user-profile-summary-item>
  </div>


  <div class="flex-1 mr-3 border-r">
    <roc-user-profile-summary-item [title]="schoolName"
                                   subTitle="school"></roc-user-profile-summary-item>
  </div>


  <div class="flex-1">
    <roc-user-profile-summary-item [title]="locationName"
                                   subTitle="location"></roc-user-profile-summary-item>
  </div>

</section>
