<section class="flex flex-col">

  <div>
    <span class="text-lg">{{roiAggregateDto.name}}</span>
  </div>

  <div>
    stats here...
  </div>

  <div>
    graph here...
  </div>

  <div>

    <section class="flex">

      <div class="flex-1">

        <span class="inline-block mt-1 align-middle">

          <mat-checkbox [checked]="isInCompare"
                        (change)="onCompareClick($event.checked)">Add To Compare</mat-checkbox>

        </span>

      </div>

      <div class="flex-1">

        <roc-button-with-icon [fontSet]="'fas'"
                              [fontIcon]="'times'"
                              title='Delete'
                              (onClick)="onDelete()"></roc-button-with-icon>

      </div>

    </section>

  </div>


</section>
